name: CI
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check repo
        run: |
          echo "Running quick checks"
          git --no-pager log -1 --pretty=oneline